* {
  margin: 0;
  padding: 0; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler.navbar-toggler {
  border-color: #FFFFFF; }

.navbar {
  padding: 0; }

.lg-nav {
  width: 80px; }

.col-tentate {
  background-color: #C69B7B; }

.navbar-collapse {
  transition: 0.5s ease; }

#inicio,
#nosotros,
#productos,
#ptosVenta,
#galeria,
#contacto {
  color: #BF5E66 !important; }

@media screen and (min-width: 769px) {
  .nav-item a {
    color: #FFFFFF !important;
    font-family: 'Amatic SC', cursive;
    font-size: 25px; }
    .nav-item a:hover {
      color: #BF5E66 !important;
      transform: scale(1.2); }
  .contenedorIndex {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "titulo titulo titulo titulo" "imagenes imagenes imagenes imagenes" "texto texto texto texto";
    row-gap: 10px; }
  .contenedorNos {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "tituloNos tituloNos tituloNos tituloNos" "textoNos textoNos textoNos textoNos" "tituloMision tituloMision tituloMision tituloMision" "textoMision textoMision textoMision textoMision";
    row-gap: 10px; }
  .contenedorProductos {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "tituloProductos tituloProductos tituloProductos tituloProductos" "imagenes imagenes imagenes imagenes" "tituloDescripcion tituloDescripcion tituloDescripcion tituloDescripcion" "textoProducto textoProducto textoProducto textoProducto";
    row-gap: 10px; }
  .contenedorPuntos {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "tituloPuntos tituloPuntos tituloPuntos tituloPuntos" "mapaGoogle mapaGoogle mapaGoogle mapaGoogle" "tituloProdPun tituloProdPun tituloProdPun tituloProdPun" "puntosMapa puntosMapa puntosMapa puntosMapa";
    row-gap: 10px; }
  .contenedorGaleria {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "tituloGaleria tituloGaleria tituloGaleria tituloGaleria" "containerCarrusel containerCarrusel containerCarrusel containerCarrusel";
    row-gap: 10px; }
  .contenedorContacto {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "tituloContacto tituloContacto tituloContacto tituloContacto" "contacto contacto contacto contacto";
    row-gap: 10px; }
  h2 {
    font-size: 70px; }
  .titulo {
    grid-area: titulo; }
  .tituloNos {
    grid-area: tituloNos; }
  .tituloMision {
    grid-area: tituloMision; }
  .tituloProductos {
    grid-area: tituloProductos; }
  .tituloDescripcion {
    grid-area: tituloDescripcion; }
  .tituloPuntos {
    grid-area: tituloPuntos; }
  .tituloProdPun {
    grid-area: tituloProdPun; }
  .tituloGaleria {
    grid-area: tituloGaleria; }
  .tituloContacto {
    grid-area: tituloContacto; }
  .img,
  .imagen-1,
  .imagen-2 {
    width: 400px;
    height: 400px; }
  .imagenes {
    grid-area: imagenes;
    display: flex;
    justify-content: space-around; }
  .img {
    border: inset;
    border-color: #C69B7B; }
  .galeria {
    grid-area: galeria;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .containerCarrusel {
    grid-area: containerCarrusel;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .texto,
  .textoNos,
  .textoMision,
  .textoProducto,
  .puntosMapa {
    width: 90%;
    justify-self: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4; }
  .texto {
    grid-area: texto;
    text-align: center;
    margin-top: 20px; }
  .textoNos {
    grid-area: textoNos; }
  .textoMision {
    grid-area: textoMision; }
  .textoProducto {
    grid-area: textoProducto; }
  .mapaGoogle {
    grid-area: mapaGoogle;
    display: flex;
    justify-content: space-around; }
  .puntosMapa {
    grid-area: puntosMapa;
    display: flex;
    justify-content: space-around; }
  .puntosVenta li {
    list-style-type: none; }
  .contacto {
    grid-area: contacto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
  .formatContact {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    width: 240px;
    padding: 0;
    font-size: 15px; }
  .areaTexto {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    resize: none;
    padding: 0;
    margin: 10px;
    width: 240px;
    height: 100px; }
  .contactDatos {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
    margin: auto 0;
    padding-bottom: 50px; }
  .formulario {
    margin: 10px; }
  .boton {
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #C69B7B;
    border: 1px solid #C69B7B;
    margin: 0 auto;
    display: block;
    background-color: #FFFFFF; }
    .boton:hover {
      background-color: #C69B7B;
      color: #FFFFFF; }
  .logoContacto {
    display: flex; }
    .logoContacto img {
      margin-top: 3px;
      width: 22px;
      height: 22px; }
  .textoContacto {
    margin-left: 10px; }
    .textoContacto a {
      text-decoration: none; }
  .footer {
    background-color: #C69B7B;
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 22px;
    padding: 5px; }
    .footer a {
      text-decoration: none; }
  .footerPuntos {
    background-color: #C69B7B;
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 5px; }
    .footerPuntos a {
      text-decoration: none; } }

@media screen and (max-width: 768px) {
  .nav-item a {
    color: #FFFFFF !important;
    font-family: 'Amatic SC', cursive;
    font-size: 25px; }
    .nav-item a:hover {
      color: #BF5E66 !important;
      font-size: 28px; }
  .contenedorIndex {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "titulo titulo titulo titulo" "imagen-1 imagen-1 imagen-1 imagen-1" "imagen-2 imagen-2 imagen-2 imagen-2" "texto texto texto texto";
    row-gap: 10px; }
  .contenedorNos {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "tituloNos tituloNos tituloNos tituloNos" "textoNos textoNos textoNos textoNos" "tituloMision tituloMision tituloMision tituloMision" "textoMision textoMision textoMision textoMision";
    row-gap: 10px; }
  .contenedorProductos {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "tituloProductos tituloProductos tituloProductos tituloProductos" "imagenes imagenes imagenes imagenes" "tituloDescripcion tituloDescripcion tituloDescripcion tituloDescripcion" "textoProducto textoProducto textoProducto textoProducto";
    row-gap: 10px; }
  .contenedorGaleria {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "tituloGaleria tituloGaleria tituloGaleria tituloGaleria" "containerCarrusel containerCarrusel containerCarrusel containerCarrusel";
    row-gap: 10px; }
  .contenedorPuntos {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "tituloPuntos tituloPuntos tituloPuntos tituloPuntos" "mapaGoogle mapaGoogle mapaGoogle mapaGoogle" "tituloProdPun tituloProdPun tituloProdPun tituloProdPun" "puntosMapa puntosMapa puntosMapa puntosMapa";
    row-gap: 10px; }
  .contenedorContacto {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "tituloContacto tituloContacto tituloContacto tituloContacto" "contacto contacto contacto contacto";
    row-gap: 10px; }
  .titulo {
    grid-area: titulo; }
  .tituloNos {
    grid-area: tituloNos; }
  .tituloMision {
    grid-area: tituloMision; }
  .tituloProductos {
    grid-area: tituloProductos; }
  .tituloDescripcion {
    grid-area: tituloDescripcion; }
  .tituloPuntos {
    grid-area: tituloPuntos; }
  .tituloProdPun {
    grid-area: tituloProdPun; }
  .tituloGaleria {
    grid-area: tituloGaleria; }
  .tituloContacto {
    grid-area: tituloContacto; }
  h2 {
    font-size: 35px; }
  .imagenes {
    grid-column: 1/5; }
  .imagen-1 {
    grid-area: imagen-1;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px; }
  .imagen-2 {
    grid-area: imagen-2;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px; }
  .img {
    width: 200px;
    height: 200px;
    border: inset;
    border-color: #C69B7B; }
  .containerCarrusel {
    grid-area: containerCarrusel;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .galeria {
    margin: 5px;
    width: 300px;
    height: 300px; }
  .arriba a {
    text-decoration: none; }
  .texto,
  .textoNos,
  .textoMision,
  .textoProducto,
  .puntosMapa {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px; }
  .texto {
    grid-area: texto; }
  .textoNos {
    grid-area: textoNos; }
  .textoMision {
    grid-area: textoMision; }
  .textoProducto {
    grid-area: textoProducto; }
  .mapaGoogle {
    grid-area: mapaGoogle; }
  .mapaGoogle iframe {
    display: flex;
    width: 300px;
    margin: 0 auto; }
  .puntosMapa {
    grid-area: puntosMapa;
    display: flex;
    justify-content: space-around; }
  .puntosVenta li {
    list-style-type: none; }
  .contacto {
    grid-area: contacto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .formulario {
    margin: 10px; }
  .contactDatos {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.4;
    margin: auto 0;
    margin: 10px; }
  .formatContact {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    width: 240px;
    padding: 0;
    font-size: 10px; }
  .areaTexto {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    resize: none;
    padding: 0;
    margin: 10px;
    width: 240px;
    height: 100px; }
  .boton {
    padding: 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #C69B7B;
    border: 1px solid #C69B7B;
    margin: 0 auto;
    display: block;
    background-color: #FFFFFF; }
    .boton:hover {
      background-color: #C69B7B;
      color: #FFFFFF; }
  .logoContacto {
    display: flex; }
    .logoContacto img {
      margin-top: 3px;
      margin-right: 3px;
      width: 15px;
      height: 15px; }
  .logoContacto a {
    text-decoration: none; }
  body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px; }
  .footer, .footerPuntos {
    padding: 5px 0;
    background-color: #C69B7B;
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center; }
    .footer a, .footerPuntos a {
      text-decoration: none; } }

.titulo,
.tituloNos,
.tituloMision,
.tituloProductos,
.tituloDescripcion,
.tituloPuntos,
.tituloProdPun,
.tituloGaleria,
.tituloContacto {
  text-align: center; }

h2,
h3,
h6 {
  margin: 0;
  font-family: 'Amatic SC', cursive; }
