@import "grid";
@media screen and (max-width: 768px) {
    .nav-item a{
        color: $colLetrasBarras !important;
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
        &:hover{
            color:$colSeleccion !important;
            font-size: 28px;   
        }
    }
    
    .contenedorIndex {    
        margin-top: 55px;
        display: grid;
        grid-template-columns: repeat (4, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "titulo titulo titulo titulo"
            "imagen-1 imagen-1 imagen-1 imagen-1"
            "imagen-2 imagen-2 imagen-2 imagen-2"
            "texto texto texto texto";
        row-gap: 10px;
    }
    
    .contenedorNos {
        @include nosotros();
    }
    
    .contenedorProductos {
        @include productos();
    }
    
    .contenedorGaleria {       
        @include galeria();
    }
    
    .contenedorPuntos {
        @include puntosVenta();
    }
    
    .contenedorContacto {
        @include contacto();
    }
    
    .titulo {
        grid-area: titulo;    
    }
    
    .tituloNos {
        grid-area: tituloNos;
    }
    
    .tituloMision {
        grid-area: tituloMision;
    }
    
    .tituloProductos {
        grid-area: tituloProductos;
    }
    
    .tituloDescripcion {
        grid-area: tituloDescripcion;
    }
    
    .tituloPuntos {
        grid-area: tituloPuntos;
    }
    
    .tituloProdPun {
        grid-area: tituloProdPun;
    }
    
    .tituloGaleria {
        grid-area: tituloGaleria;
    }
    
    .tituloContacto {
        grid-area: tituloContacto;
    }
    
    
    
    h2{
        font-size: 35px;
    }
    
    .imagenes {
        grid-column: 1/5;
    }
    
    @mixin imagenes() {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;
        
    }

    .imagen-1 {
        grid-area: imagen-1;
        @include imagenes();
    }
    
    .imagen-2 {
        grid-area: imagen-2;
        @include imagenes();
    }
    
    
    .img {
        width: 200px;
        height: 200px;
        border: inset;
        border-color: $colTentate;
    }
    
    
    .containerCarrusel{
        grid-area: containerCarrusel;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;    
    }
    
    .galeria {
        margin: 5px;
        width: 300px;
        height: 300px;
    }
    
    
    .arriba{
        a {
            text-decoration: none;
        }
    }
    
    
    .texto,
    .textoNos,
    .textoMision,
    .textoProducto,
    .puntosMapa {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .texto {
        grid-area: texto;
    }
    
    .textoNos {
        grid-area: textoNos;
    }
    
    .textoMision {
        grid-area: textoMision;
    }
    
    .textoProducto {
        grid-area: textoProducto;
    }
    
    .mapaGoogle {
        grid-area: mapaGoogle;
    }
    
    .mapaGoogle iframe {
        display: flex;
        width: 300px;
        margin: 0 auto;
    }
    
    .puntosMapa {
        grid-area: puntosMapa;
        display: flex;
        justify-content: space-around;
    }
    
    .puntosVenta {
        li {
         list-style-type: none;
        }
    }
    
    .contacto {
        grid-area: contacto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .formulario {
        margin: 10px;
    }
    
    .contactDatos {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 15px;
        line-height: 1.4;
        margin: auto 0;
        margin: 10px;
    }
    
    .formatContact {
        font-family: 'Raleway', sans-serif;
        margin: 10px;
        width: 240px;
        padding: 0;
        font-size: 10px;
    
    }
    
    .areaTexto {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        resize: none;
        padding: 0;
        margin: 10px;
        width: 240px;
        height: 100px;
    
    }
    
    .boton {
        padding: 3px;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: $colTentate;
        border: 1px solid $colTentate;
        margin: 0 auto;
        display: block;
        background-color: $colLetrasBarras;
        &:hover{
            background-color: $colTentate;
            color: $colLetrasBarras;
        }
    }
    
    .logoContacto {
        display: flex;
        img {
            margin-top: 3px;
            margin-right: 3px;
            width: 15px;
            height: 15px;
        
        }
    }
    
    
    .logoContacto{
        a {
            text-decoration: none;
        }
    }
/*
    body{
        position: relative;
        min-height: 100vh;
        padding-bottom: 50px;
    }
*/
    .footer {        
        padding: 5px 0;
        background-color: $colTentate;
        color: $colLetrasBarras;        
        position:absolute;
        width: 100%;
        bottom: 0;
        text-align: center;    
        a {
            text-decoration: none;
        }
    }
    
    }